article{
    margin-top: 3em;
}
iframe{
    margin-bottom: 1em;
}
p{
    text-justify: inter-word;
    padding-right: 1em; 
}
.scr{
    font-weight: bold;
    padding-left: 1em;
    background-color: lemonchiffon;
    padding-top, padding-bottom: 5px;
}
.scro{
    font-weight: bold;
    padding-left: 1em;
}
.details {
    padding: 1em;
    color: steelblue ;
    font-style: italic;
    font-size: small;
}
.trueout{
    display: none;
}
.heroImg{
    height: 200px;
    opacity: .5;
    border-radius: 200px;
    margin-left: 2em;
}

.btn-primary, .btn-primary:visited {
    background-color: #C5A39E !important;
}
.btn-primary:hover, .btn-primary:active{
    background-color: #9CA7AD !important;
}


.wrapper {text-align: center;}

.card-text{
    font-size: 25px;
    text-align: justify;
    text-justify: inter-word;
}
.card-title
{
    font-size: 30px;
    color: #C5A39E;
}
.logo{
    width:45px;
    height:auto ;
}

.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        width: 25%;
}
#aiImg{
    width: 100%;
    opacity: .75;
}
#Content{
    text-align: center;
    align-content: center;
    margin-top, margin-bottom: 2em;
    min-width: 100%;
    display: inline-block;
}
#txtContent{
    width: 55%;
    display: inline-block;
    text-align: left;
    padding: 1em;
    margin: 1.25em;
    border-width: 1px;
    border-color: black;
    border-style: solid
    vertical-align: top;
    min-width: 460px;
}
#imgContent{
    width:35%;
    display: inline-block;
    text-align: left;
    padding: 1em;
    margin: 1.25em;
    vertical-align: top;
    min-width: 460px;

}
#header{
    text-align: center;
    color: #9CA7AD;
    padding-top: .5em;
    padding-bottom: 1em;
}
#pBtn{
    text-align: left;
    padding-top: 3em;
}
#ai{
    heigh: auto;
}
#footer{
    padding-top: 3em;
    padding-bottom: 2em;
}
#midFooter{
    background-color: #E9ECEF;
}